{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="about">

<div class="container">

<div class="about_box">

<div class="about_image">

<img src="{% static 'css/images/about.png' %}">

</div>

<div class="about_text">

<h1>О кафе Janka</h1>

<p>

Janka — это уютное кафе, где свежие продукты,
домашняя кухня и приятная атмосфера объединяются,
чтобы каждый гость чувствовал себя как дома.

</p>

<p>

Мы готовим блюда только из качественных ингредиентов,
предлагаем быстрое обслуживание и удобный онлайн-заказ. <br>
У нас гости наслаждаются роскошью и атмосферой. Музыка и окружение
улучшит Ваше представление о Janka

</p>

<p>
    Наша сеть ресторанов существует уже больше 20-ти лет.
    Наши ингредиенты экологичны и натуральные. Мы готовим
    полезную и вкусную еду для всех вкусов. Минимум жареной еды
    способствует качеству блюд.

</p>


</div>

</div>

</div>

</section>

{% endblock %}