{% extends 'base.html' %}

{% block content %}
<section class="menu_page">
    <div class="container">
        
        <h1 class="page_title" style="text-align: center; font-size: 42px; margin-bottom: 30px;">
            Наше меню
        </h1>


        <!-- Фильтры -->
        <div class="filters" style="display: flex; justify-content: center; gap: 25px; margin-bottom: 50px;">
            <a href="{% url 'menu' %}" style="color: #a3b18a; font-weight: bold;">Все</a>
            <a href="?breakfast=True"> Завтраки</a>
            <a href="?soup=True"> Супы</a>
            <a href="?main=True"> Основные блюда</a>
            <a href="?salats=True"> Салаты</a>
            <a href="?deserts=True"> Десерты</a>
            <a href="?drinks=True"> Напитки</a>
        </div>

        <!-- Блюда -->
        <div class="cards">
            {% for dish in dishes %}
                <div class="card">
                    {% if dish.image %}
                        <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
                    {% endif %}
                    
                    <div class="card_body">
                        <h3>{{ dish.name }}</h3>
                        <p>{{ dish.description }}</p>
                        {% if dish.weight %}
                            <p style="margin-top: 5px; font-style: italic; color: #888;">Вес: {{ dish.weight }}</p>
                        {% endif %}
                        
                        <div class="price">
                            {{ dish.price }} сом
                        </div>
                        <form action="{% url 'cart:cart_add' dish.id %}" method="post" style="margin-top: 15px;">
                            {% csrf_token %}
                            <button type="submit" class="btn_small" style="width: 100%; border: none; cursor: pointer; display: block;">
                                Добавить
                            </button>
                        </form>
                    </div>
                </div>
            {% empty %}
                <h3 style="grid-column: 1 / -1; text-align: center; color: #a8a6a1;">
                    Блюд пока нет
                </h3>
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}
